.medicionav{
    padding: 20px 0px;
    background-color: white;

    overflow: hidden;
    top: 0;

   position: fixed;
   z-index: 1;
   width: 100%;
}

.navbarbtn{
    background-color: rgb(63, 187, 192);
    color: white;
    padding: 7px 25px;

    transition: 0.3s;
    &:hover{
    background-color: rgb(95, 200, 203);

    }
}

.navlogo
{
  img{
    width: 150px;
  }
}


.navbarlis{
    ul{
        li{
            color: rgb(100, 100, 100);

            &:hover{
                color:rgb(63, 187, 192) ;
            }
            a{
            color: rgb(100, 100, 100);

                margin-left: 10px;
                font-weight: bold;
                font-size:smaller;
                &:hover{
                    color:rgb(63, 187, 192) ;
                }


            }
        }
    }
}

.topnav{
    background-color: rgb(63, 187, 192) ;
    i{
        color: white;

    }
    span{
        color: white;
    }
}

.slidersec{
    display: flex;
    align-items: center;
    justify-content: center;

    .imgbox{
        position: relative;
       
    }
    .slidertxtbox{

        p{
            margin-top: 20px;
        }
        // margin-left: -120px;

      position: absolute;
      left: 8%;
display: flex;
        width: 1300px;
        height: 250px;
        background-color: white;
opacity: 0.85;
        .navbarbtn{
          align-items: center;
          justify-content: center;
          left: 44%;
          top: 70%;
          position: absolute;
          
        }
    }
}

.slidersec{
.cardicon{
    color: red;

}
    .medicalcards{
        h5{
            color: red;
        }
    }
    
}

.emergency{
    position: relative;
    text-align: center;
    background-color: rgb(63, 187, 192);
color: white;
padding: 70px 0px;
    h3{
        font-weight: bolder;
    }

    button{
position: absolute;
left: 41%;
top: 80%;
        font-weight: bold;
    }
}

.countcards{
    margin-top: 100px;

    p{
        font-size: smaller;
        font-weight: 500;
        color: rgb(89, 89, 89);
    }
span{
    font-weight: bolder;
    font-size: 45px;
    color: rgb(89, 89, 89);
    margin-left: 15px;
    display: inline-block;
}
    a{
        text-decoration: none;
        font-weight: bolder;
        color: gray;
    }
    .countcard{
        i{
            font-size:xx-large;
            display: inline-block;
            color: rgb(63, 187, 192);
        }
    }
}

.about{
    i{
        font-size:xx-large;

        color: rgb(63, 187, 192);
        display: inline-block;
    }
    h5{
        display: inline-block;

    }

    .experimentimg{
        width: 700px;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://bootstrapmade.com/demo/templates/Medicio/assets/img/features.jpg);
    }
}