*{
    box-sizing: border-box;
}

.medicionav{
    padding: 20px 0px;
    background-color: white;

    overflow: hidden;
    top: 0;

   position: fixed;
   z-index: 1;
   width: 100%;
}

.navbarbtn{
    background-color: rgb(63, 187, 192);
    color: white;
    padding: 7px 25px;

    transition: 0.3s;
    &:hover{
    background-color: rgb(95, 200, 203);

    }
}

.navlogo
{
  img{
    width: 150px;
  }
}


.navbarlis{
    ul{
        li{
            color: rgb(100, 100, 100);

            &:hover{
                color:rgb(63, 187, 192) ;
            }
            a{
            color: rgb(100, 100, 100);

                margin-left: 10px;
                font-weight: bold;
                font-size:smaller;
                &:hover{
                    color:rgb(63, 187, 192) ;
                }


            }
        }
    }
}

.topnav{
    background-color: rgb(63, 187, 192) ;
    i{
        color: white;

    }
    span{
        color: white;
    }
}

.slidersec{
    display: flex;
    align-items: center;
    justify-content: center;

    .imgbox{
        position: relative;
       
    }
    .slidertxtbox{
        flex-direction: column;
        p{
            margin-top: 20px;
        }
        // margin-left: -120px;

      position: absolute;
      left: 8%;
display: flex;
        width: 86%;
        height: 250px;
        background-color: white;
opacity: 0.85;
        .navbarbtn{
          align-items: center;
          justify-content: center;
          left: 44%;
          top: 70%;
          position: absolute;
          
        }
    }
}



 
    .medicalcards{
        margin: 70px 0px;
        i{
            color: rgb(63, 187, 192);
            font-size: 45px;
    
        }

        &:hover{

        }
    }
   

    
    


.emergency{
    position: relative;
    text-align: center;
    background-color: rgb(63, 187, 192);
color: white;
padding: 70px 0px;
    h3{
        font-weight: bolder;
    }

    button{
position: absolute;
left: 41%;
top: 80%;
        font-weight: bold;
    }
}

.countcards{
    margin-top: 100px;

    p{
        font-size: smaller;
        font-weight: 500;
        color: rgb(89, 89, 89);
    }
span{
    font-weight: bolder;
    font-size: 45px;
    color: rgb(89, 89, 89);
    margin-left: 15px;
    display: inline-block;
}
    a{
        text-decoration: none;
        font-weight: bolder;
        color: gray;
    }
    .countcard{
        i{
            font-size:xx-large;
            display: inline-block;
            color: rgb(63, 187, 192);
        }
    }
}

.about{
    i{
        font-size:xx-large;

        color: rgb(63, 187, 192);
        display: inline-block;
        margin-top: 10px;
        
    }
    h5{
        display: inline-block;

    }

    .box1{
        width: 99%;
    }

    .box2{
        margin-top: 50px;
        width: 99%;
    }
    .box3{
        margin-top: 50px;
        width: 99%;

    }
    .box4{
        margin-top: 50px;
        width: 99%;

    }

    p{
        color: gray;
        margin-left: 38px;
    }


   .experimentimg{
       img{
           width: 97%;
           height: 500px;
       }
   }
}

.doctors{
    margin-top: 100px;
    background-color: rgb(247, 252, 252);
    text-align: center;

    h3{
        font-weight: bold;
        font-size: 30px;
        color: rgb(66, 66, 66);
        position: relative;
        
    }
    p{
        color: rgb(90, 90, 90);
        font-weight:400;
        font-size: 17px;
        margin-top: 40px;
    }
}


.contact{
    text-align: center;
    margin-top: 100px;

    h3{
        font-weight: bold;
        font-size: 30px;
        color: rgb(66, 66, 66);
        position: relative;
        
    }
    p{
        color: rgb(90, 90, 90);
        font-weight:400;
        font-size: 17px;
        margin-top: 40px;
    }

    iframe{
        width: 100%;
        height: 350px;
    }
}